body {
    padding-top: 5%;
    background-image: url('../background/bg_expenses8.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar-brand{
    font-family: cursive;
}

.nav-item{
    color: white;
    font-weight: bold;
}

h3{
    align-self: center;
    color:  rgb(19,35,46);
    font-weight: bold;
}

#msg, #error{
    color: red;
}


h6{
    color:  rgb(5, 124, 202);
    font-weight: bold;
}

.card{
    background-color: rgb(219,227,230);
}

.list-group .btn{
    float: right;
}


.list-group-item{
    color:  rgb(19,35,46);
    font-weight: bold;
    background-color: rgb(160, 207, 224);
    border-color: rgb(160, 207, 224);
    margin-bottom: 5px;
}

form label{
    font-weight: bold;
    color:  rgb(19,35,46);
}

.btn{
    background-color: rgb(19,35,46);
    border-color: rgb(19,35,46);
    color:  rgb(160, 207, 224);
    font-weight: bold;
}

.btn-primary:hover{
    background-color:rgb(19,35,46);
    border-color: rgb(19,35,46);
}

#error{
    color: red;
}


/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

    .card{
        width: auto;
    }

    #premiumfeatures .btn{
      font-size: smaller; 
    }

    .list-group .btn{
        float: inline-end;
    }
    
    h3{
        font-size: medium;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){

    #premiumfeatures .btn{
        font-size: smaller; 
    }
}

@media only screen and (orientation: landscape) {
    #premiumfeatures .btn{
        font-size: smaller; 
    }
}