header{
    display: flex;
    justify-content: center;
    background-color:rgb(185, 159, 125);
    color:  rgb(95, 71, 37);
    font-weight: bold;
}

header .btn{
    margin-left: auto;
    color:  rgb(95, 71, 37);
    font-weight: bold;
}

h6{
    margin-left: auto;
    color:  rgb(95, 71, 37);
    font-weight: bold;
    align-self: center;
}

.card{
    margin-top: 10px;
    margin-left: 350px;
    justify-content: center;
    background-color: antiquewhite;
}

form label{
    font-weight: bold;
    margin-right: 10px;
    color:  rgb(95, 71, 37);
    font-weight: bold;
}

.btn{
    background-color: rgb(189, 160, 123);
    border-color: rgb(189, 160, 123);
    color:  rgb(95, 71, 37);
    font-weight: bold;
}

.btn-primary:hover{
    background-color: rgb(107, 80, 45);
    border-color: rgb(107, 80, 45);;
}

#error{
    color: red;
}